@using System.Net.Http
@using Newtonsoft.Json.Linq
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.JSInterop
@using SCDFrontend.Models;
@using SCDFrontend.DataAccess;
@using System.ComponentModel;
@inject HttpClient Http;
@inject IJSRuntime JSRuntime
@inject IModalService modal
@inject IToastService toastService


<button type="button" style="width: 6cm;" class="btn btn-dark" >Launch</button>
<br>
<br>
<button type="button" style="width: 6cm;" class="btn btn-dark" @onclick="StartInst">Start</button>
<br>
<br>
<button type="button" style="width: 6cm;" class="btn btn-dark" @onclick="StopInst">Stop</button>
<br>
<br>
<button type="button" style="width: 6cm;" class="btn btn-dark" @onclick="OpenModal">Create Copy</button>
<br>
<br>
<button type="button" style="width: 6cm;" class="btn btn-dark">Delete</button>
<br>
<br>
<button type="button" style="width: 6cm;" class="btn btn-dark" @onclick="DownloadText">Monitor Server</button>
<br>
<br>
<button type="button" style="width: 6cm;" class="btn btn-dark" @onclick="DownloadText">Add Service Agent </button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
    
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Create copy of @Name</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>

            <EditForm Model="@_CopyInst" OnValidSubmit="Something">
                <DataAnnotationsValidator/>
                <div class="modal-body">
                
                    <div class="modal-split">
                        <h5>Name and copy method:</h5>
                        <label for="inst-name">Installation name:</label>
                        <InputText id="inst-name" @bind-Value="_CopyInst.newName" placeholder="Inst-01"/><br>

                        <InputRadioGroup Name="method" @bind-Value="_CopyInst.copyMethod">
                            @foreach (var cm in (CopyMethod[]) Enum.GetValues(typeof(CopyMethod)))
                            {
                                <InputRadio Value="Enum.GetName(typeof(CopyMethod), cm)" />
                                @Enum.GetName(typeof(CopyMethod), cm)
                                <br>
                            }
                        </InputRadioGroup>
	    	        </div>


	    	        <div class="modal-split">
                        <h5>Choose client:</h5>
                        <select class="custom-select" id="inst-client" @bind="_CopyInst.clientId">
                            @if(Clients == null)
                            {
                                <option>Loading clients</option>
                            } 
                            else 
                            {
                                @foreach (var c in Clients)
                                {
                                    <option value="@c.id">@c.name</option>
                                }
                            }
                        </select>
	    	        </div>
                    @*Hej*@

                    <div class="modal-split">
                        <h5>Choose subscription:</h5>
                        <select class="custom-select" id="inst-client" @bind="_CopyInst.subId">
                            @if(Subs == null)
                            {
                                <option>Loading subscriptions</option>
                            } 
                            else 
                            {
                                @foreach (var s in Subs)
                                {
                                    <option value="@s.id">@s.name</option>
                                }
                            }
                        </select>
	    	        </div>


	    	        <div class="modal-split" id="submit-copy">
                        <h5>Review details</h5>
	    	            Name: @_CopyInst.oldName <br>                        
                        Copy method: @_CopyInst.copyMethod <br>
                        Client: @_CopyInst.client<br>
                        <button type="submit" @onclick="CreateCopy1">Submit</button>
	    	        </div>

                    <div class="modal-split">

                    </div>	

                </div>
            </EditForm>

            <div class="modal-footer">
                <!-- Populated in JS ! -->
            </div>
        </div>
    </div>
</div>
        

@code {
    private ApiConnector apicon = new ApiConnector();
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public EventCallback OnChangedStatus { get; set; }

    List<Client> Clients;
    List<Subscription> Subs;
    private CopyInst _CopyInst = new CopyInst();

    void OpenModal()
    {
        var parameters = new ModalParameters();
        parameters.Add("Name", Name);
        var m = modal.Show<CreateCopy>("data", parameters);

    }

    protected override void OnInitialized()
    {
        Clients = new List<Client>();
        Subs = new List<Subscription>();
    }

    protected override async Task OnInitializedAsync() // run as page loads yis *<|:-)
    {
        Clients = await apicon.GetClients();
        Subs = await apicon.GetSubscriptions();
    }
    
    async Task DownloadText()
    {
        // Generate a text file
        byte[] file = System.Text.Encoding.UTF8.GetBytes("full address:s:20.52.144.65:3389\nprompt for credentials:i:1\nadministrative session:i:1");
        await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", "connect.rdp", "text/plain", file);
    }

    async Task DownloadBinary()
    {
        byte[] file = Enumerable.Range(0, 100).Cast<byte>().ToArray<byte>();
        string fileName = "file.bin";
        string contentType = "application/octet-stream";

        // Check if the IJSRuntime is the WebAssembly implementation of the JSRuntime
        if (JSRuntime is IJSUnmarshalledRuntime webAssemblyJSRuntime)
        {
            webAssemblyJSRuntime.InvokeUnmarshalled<string, string, byte[], bool>("BlazorDownloadFileFast", fileName, contentType, file);
        }
        else
        {
            // Fall back to the slow method if not in WebAssembly
            await JSRuntime.InvokeVoidAsync("BlazorDownloadFile", fileName, contentType, file);
        }
    }

    async Task CreateCopy() 
    {
        await JSRuntime.InvokeVoidAsync("prep_modal");
    }

    async Task CreateCopy1() 
    {
        _CopyInst.oldName = Name;
        // InputSelect cannot handle objects
        foreach(var c in Clients)
        {
            if(_CopyInst.clientId == c.id)
            {
                _CopyInst.client = c;
                Console.WriteLine(c.id + " " + c.name);
            }
        }

        foreach(var s in Subs)
        {
            if(_CopyInst.subId == s.id)
            {
                _CopyInst.subscription = s;
                Console.WriteLine(s.id + " " + s.name);
            }
        }

        await apicon.CreateCopy(_CopyInst);
    }

    void Something() 
    {

    }

    async Task StartInst()
    {
        toastService.ShowInfo("Starting the installation");
        var status = await apicon.Start(Name);
        
        if(status.IsSuccessStatusCode)
        {
            toastService.ShowSuccess("Done");
        }
        else
        {
            toastService.ShowError("Could not start the installation");
        }
        
    }

    protected async Task StopInst()
    {
        toastService.ShowInfo("Stopping the installation");
        var status = await apicon.Stop(Name);
        
        if(status.IsSuccessStatusCode)
        {
            toastService.ShowSuccess("Done");
        }
        else
        {
            toastService.ShowError("Could not stop the installation");
        }
    }
}