@page "/inst/{name}"

@using SCDFrontend.DataAccess;
@using SCDFrontend.Models;
@using System.Threading.Tasks;
@using System.Text.Json.Serialization;
@inject IJSRuntime JSRuntime

<h1>Installation: @name</h1>
<hr/>



<div class="row">
    <div class="column" style="background-color:#aaa;">
        @if (Installation == null) {
            <p>Loading...</p>
        } else{
            <h2>Info</h2>
            <p>Id: @Installation.id</p>
            <p>Name: @Installation.name</p>
            <p>Client: @Installation.clientNames</p>
            <p>IP: @Installation.fullAddress</p>
        }
    </div>
    <div class="column" style="background-color:#bbb;">
        <Actions />
    </div>
    <hr />
</div>
<div>
    <JsonDetails Name=@name/>
</div>


@code {
    

    [Parameter]
    public string name { get; set; }

    private Installation Installation = null;

    public async Task LoadInstallation(string instId)
    {
        Installation = await ApiConnector.GetInstallation(instId);
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadInstallation(name);
    }
}